---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";

import { Image } from "astro:assets";
import funny from "../assets/light-painting-funny.webp";
---

<Layout title="Welcome to Astro.">
    <div class="flex h-screen flex-col"></div>
</Layout>
