---

---

<div class="flex h-10 w-full flex-row items-center bg-scout-purple text-white">
    <div class="flex-1"></div>
    <div>
        <h1 class="text-2xl font-bold">Summit Network</h1>
    </div>
    <div class="flex flex-1 flex-row-reverse gap-3 px-3">
        <a
            class="cursor-pointer rounded-lg px-3 py-1 hover:bg-white hover:text-scout-purple"
            >Volunteering</a
        >
        <a
            class="cursor-pointer rounded-lg px-3 py-1 hover:bg-white hover:text-scout-purple"
            >Cool Shit</a
        >
        <a
            class="cursor-pointer rounded-lg px-3 py-1 hover:bg-white hover:text-scout-purple"
            >Events</a
        >
    </div>
</div>
