---
interface Props {
    title: string;
}

const { title } = Astro.props;
import "./main.scss";
---

<!doctype html>
<html lang="en" class="bg-scout-purple">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="min-h-screen min-w-[100vw] bg-[#f6f6e9]">
        <slot />
    </body>
</html>
